* {
    font-family: 'Open Sans', sans-serif; 
}

@font-face {
	font-family: 'Nevis';
	src: url('../fonts/nevis.eot');
	src: url('../fonts/nevis.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nevis.woff2') format('woff2'),
		url('../fonts/nevis.woff') format('woff'),
		url('../fonts/nevis.svg#nevis-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Beyond The Mountains';
	src: url('../fonts/BeyondTheMountains.eot');
	src: url('../fonts/BeyondTheMountains.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BeyondTheMountains.woff') format('woff'),
		url('../fonts/BeyondTheMountains.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    flex: 1;
    flex-direction: 'column';
    justify-content: 'center'
}

h1 {
    font-size: 5.4em
}

h2 {
    font-size: 4em
}

h3 {
    font-size: 3.2em
}

h4 {
    font-size: 2.4em
}

h5 {
    font-size: 2em;
    line-height: 1.2em;
}

h6 {
    font-size: 1.2em;
    line-height: 1.8em;
    font-weight: 300;
}

.section-wrapper {
    max-width: 1200px;
    margin:auto;
    padding: 20px;
}

.grid-section {
    max-width: 920px;
    margin: auto;
}

.block {
    justify-content: center;
    align-items: center;
}

.i-m-scrollable-stuff {
    padding-left: 15%;
    padding-right: 15%;
}

.bg-orange {
    background-color: #EB6D47;
}

.bg-pink {
    background-color: #FF6666;
}

.icon-link, .icon-link:focus, .icon-link:hover {
    color: rgba(0,0,0,0.54);
}

.icon-link:hover {
    color: #EB6D47;
}

.mobile-image {
    min-height: 440px;
    height: 75vh;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.radio-label {
    padding-left: 25px;
    display: block;
    font-size: 16px;
}

.info-inner {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.radio-group-row {
    padding: 0 25px;
}

.text-content {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    text-align: center;
}

.text-center {
    text-align: center
}

.logo-text {
    margin-top: 0;
    margin-bottom: 0;
}

.type-class {
    margin: -20px 0 10px 0
}

.navbar {
    min-height: 100px;
    max-width: 1200px;
    width: 100%;
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: none;
    margin: auto;
}

.navbar-header {
    margin: 0;
}

.main-title {
    padding-left: 20%;
    padding-right: 20%;
}

.backdrop {
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    /*height: calc(100vh - 140px);*/
    min-height: 720px;
    display: flex;
}

.cell-content {
    display: block;
    margin: auto;
    width: 280px;
}

.image-bg-fluid-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 20px 0;
}

.right {
    float: right
}

.white-text {
    color: rgba(255,255,255,0.87) 
}

.title-section {
    width: 50%;
    margin: auto;
    text-align: center;
}

.grey-background {
    background-color: #EAEAEA;
}

.copyright {
    align-self: center;
    vertical-align: center
}

.grey-text {
    color: grey
}

.bold {
    font-weight: bold
}

.mobile-pic {
    width: 100%;
    padding: 10px 14%;
}

.second-title {
    padding-right: 20%;
    margin-bottom: 20px;
    padding-top: 0px;
}

.card-wrapper {
    padding: 20px;
}

.card {
    background-color: white;
    border: 1px solid grey;
    padding: 20px;
    text-align: center;
    min-height: 400px;
}

.card-scroll {
    background-color: white;
    border: 1px solid grey;
    text-align: center;
    padding-top: 2px;
}

.card-top {
    height: 128px;
    padding-top: 32px;
}


.block-center {
    display: block;
    margin: auto;
}

.item-margin {
    margin-top: 20px;
}

.item-margin-l {
    margin-top: 40px !important;
}

.item-margin-xl {
    margin-top: 50px !important;
}

.item-padding {
    padding-top: 20px;
}

.item-padding-xl {
    padding-top: 50px;
}

.no-margin {
    margin: 0
}

.mh-340 {
    min-height: 340px;
}

.text-input {
    border-radius: 0;
    width: 60%;
    height: 50px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.button {
    background-color: #EB6D47;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgba(255,255,255,0.87);
    height: 50px;
    width: 50%;
    font-size: 18px;
    outline: none;
}

.button:active:focus, .button:focus {
    background-color: #EB6D47;
    border-color: rgba(255,255,255,0.87);
    outline: none; 
}

.button:active:focus {
    background-color: white;
    color: #EB6D47;
    border: none;
    outline: none;
}

.button:hover, .button:active, .button:active:hover {
    background-color: white;
    color: #EB6D47;
    border: none;
    outline: none;
}


.form-content {
    flex: 1;
    flex-wrap: wrap;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.white-button {
    background-color: transparent;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgba(255,255,255,0.87);
    height: 50px;
    width: 150px;
    font-size: 18px;
    outline: none;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.white-button:active:focus, .white-button:focus {
    background-color: transparent;
    border-color: rgba(255,255,255,0.87);
    outline: none; 
}

.white-button:active:focus {
    background-color: white;
    color: #EB6D47;
    border-color: white;
    outline: none;
}

.white-button:hover, .white-button:active, .white-button:active:hover {
    background-color: white;
    color: #EB6D47;
    border-color: white;
    outline: none;
}

.inline {
    display: inline-block
}

.text-right {
    text-align: right;
}

.logo {
    justify-content: flex-start;
    padding-left: 32px;
}

.hidden {
    display: none !important;
}

.left {
    float: left;
}

.pad-h-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.icon-link {
    padding: 0 20px;
    margin: 0
}

footer {
    margin: 0;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
}

.copyright, .icons {
    flex: 1;
    flex-wrap: wrap
}

.footer-text {
    flex-direction: column;
    flex-wrap: wrap;
}

.darkgrey-text {
    color: rgba(0,0,0,0.54)
}

.orange-text {
    color: #EB6D47;
}

.red-text {
    color: red;
}

.card-text-content {
    padding-left: 15%;
    padding-right: 15%;
}

.nevis {
    font-family: 'Nevis';
}

.logo-font {
    font-family: 'Beyond The Mountains'
}

.shrink-mobile {
    font-weight: bold;
    font-family: 'Nevis'
}

.no-pad-top {
    padding-top: 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }

    .logo, .navbar, .flex-center {
        width: 100%;
        flex-wrap: wrap;
    } 

    .logo {
        justify-content: center;
    }
    
    .title-text {
        padding: 20px;
        padding-bottom: 40px;
        text-align: center;
    }

    .text-input {
        width: 80%;
        font-size: 20px;
    }

    .mobile-pic {
        width: 100%;
        padding: 20px 25%;
    }

    .card {
        min-height: 0;
    }
    
    .navbar-header {
        margin: auto;
    }

    .main-title {
        padding-left: 0;
        padding-right: 0;
    }

    .shrink-mobile {
        font-size: 0.8em;
    }

    .i-m-scrollable-stuff {
        padding-left: 0;
        padding-right: 0;
    }
}

.credit-section {
    margin-top: 50px;
    height: 300px;
    overflow: hidden;
    position: relative
}

.credit-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    animation: 20s credits linear infinite;
}

/* rgba(255,102,102, 0.5)  */
.gradient-overlay {
    background: linear-gradient(rgba(255,102,102, 0.3), transparent, rgba(255,102,102, 0.3));
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.dark-text {
    color: black;
}

@keyframes credits {
    0% {
        top: 100%;
    }
    100% {
        top: -200%;
    }
}