h1, h2, h3, h4, h5, h6, p, label {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

body {
    flex: 1;
    flex-direction: 'column';
    justify-content: 'center'
}

h1 {
    font-size: 5.4em
}

h2 {
    font-size: 4em
}

h3 {
    font-size: 3.2em
}

h4 {
    font-size: 2.4em
}

h5 {
    font-size: 2em
}

h6 {
    font-size: 1.4em
}

.section-wrapper {
    max-width: 1200px;
    margin:auto;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-orange {
    background-color: #EB6D47;
}

.icon-link, .icon-link:focus, .icon-link:hover {
    color: rgba(0,0,0,0.54);
}

.icon-link:hover {
    color: #EB6D47;
}

.row-parent {
    flex-direction: row;
    display: flex;
}

.mobile-image {
    min-height: 440px;
    height: 75vh;
    padding-top: 40px;
    padding-bottom: 40px;
}

.radio-label {
    padding-left: 25px;
    display: block;
    font-size: 16px;
}

.info-inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.radio-group-row {
    padding: 0 25px;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    text-align: center;
}

.navbar {
    min-height: 140px;
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    margin-bottom: 0;
}

.backdrop {
    background-color: #EB6D47;
    /*height: calc(100vh - 140px);*/
    min-height: 540px;
    display: flex;
}

.image-bg-fluid-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 20px 0;
}

.right {
    float: right
}

.white-text {
    color: white 
}

.copyright {
    align-self: center;
    vertical-align: center
}

.grey-text {
    color: grey
}

.bold {
    font-weight: bold
}

.item-margin {
    margin-top: 20px;
}

.text-input {
    border-radius: 0;
    width: 60%;
    height: 50px;
    font-size: 24px;
}

.button {
    background-color: #EB6D47;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    height: 50px;
    width: 50%;
    font-size: 18px;
    outline: none;
}

.button:active:focus, .button:focus {
    background-color: #EB6D47;
    border-color: white;
    outline: none; 
}

.button:active:focus {
    background-color: white;
    color: #EB6D47;
    border: none;
    outline: none;
}

.button:hover, .button:active, .button:active:hover {
    background-color: white;
    color: #EB6D47;
    border: none;
    outline: none;
}


.form-content {
    flex: 1;
    display: flex !important;
    flex-wrap: wrap;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.inline {
    display: inline-block
}

.text-right {
    text-align: right;
}

.logo {
    justify-content: flex-start;
    padding-left: 32px;
}

.hidden {
    display: none !important;
}

.left {
    float: left;
}

.icon-link {
    padding: 0 20px;
    margin: 0
}

.footer-inner {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.copyright, .icons {
    flex: 1;
    flex-wrap: wrap
}

.footer-text {
    flex-direction: column;
    flex-wrap: wrap;
}

.darkgrey-text {
    color: rgba(0,0,0,0.54)
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }

    .logo, .navbar, .flex-center, .row-parent {
        width: 100vw;
        flex-wrap: wrap;
    } 

    .logo {
        justify-content: center;
    }
    
    .title-text {
        padding: 20px;
        padding-bottom: 40px;
        text-align: center;
    }

    .text-input {
        width: 80%;
        font-size: 20px;
    }
}