body {
    flex: 1;
    flex-direction: 'column';
    justify-content: 'center'
}

h1 {
    font-size: 5.4em
}

h2 {
    font-size: 4em
}

h3 {
    font-size: 3.2em
}

h4 {
    font-size: 2.4em
}

h5 {
    font-size: 2em
}

h6 {
    font-size: 1.4em
}

.section-wrapper {
    max-width: 1200px;
    margin:auto;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-orange {
    background-color: #EB6D47;
}

.row-parent {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    background-color: grey
}

.mobile-image {
    min-height: 440px;
    height: 70vh;
}

.info-inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    text-align: center;
}

.navbar {
    min-height: 140px;
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    margin-bottom: 0;
}

.backdrop {
    background-color: #EB6D47;
    height: calc(100vh - 140px);
    min-height: 768px;
    display: flex;
}

.image-bg-fluid-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 50px 0;
}

.right {
    float: right
}

.white-text {
    color: white 
}

.grey-text {
    color: grey
}

.bold {
    font-weight: bold
}

.item-margin {
    margin-top: 20px;
}

.text-input {
    border-radius: 0;
    width: 60%;
    height: 50px;
    font-size: 24px;
}

.button {
    background-color: #EB6D47;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    height: 50px;
    width: 50%;
    font-size: 18px;
}

.button:hover {
    background-color: white;
    color: #EB6D47;
    border: none;
}

.form-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }

    .logo, .navbar, .flex-center {
        width: 100vw;
        flex-wrap: wrap;
    } 
    
    .title-text {
        padding: 20px;
        padding-bottom: 40px;
        text-align: center;
    }
}